@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #343D46;
  --primary: #3d4c5c;
  --secondary:  #A4B4C2;
  --accent: #B59C74;
  --border: #E5E7EB;
  --card: #FFFFFF;
}

.dark {
  --background: #343D46;
  --foreground: #ffffff;
  --primary: #3d4c5c;
  --border: #374151;
  --card: #181A19;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

::selection {
  background: var(--secondary);
  color: #343D46;
}

@keyframes fadeIn {
  from{
    transform: translateY(6px);
    opacity: 0;
  } 
  
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes idleGlow {
  0%, 100% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(3px);
    opacity: 0.85;
  }
}

.idle {
  animation: idleGlow 2s ease-in-out infinite;
}

.header-hovered:hover {
  position: relative;
  padding-bottom: 3px;
}

.header-hovered:hover::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: color-mix(in srgb, var(--foreground) 60%, transparent);
  animation: borderAnim 0.3s ease-in;
}

.transition{
  transition: all 0.3s ease-in-out;
}